@import 'normalize';
@import 'fonts';

.right {
  float: right;
}

.info {
  font-size: 12px;
  ul {
    list-style-type: none;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .clearfix {
    clear: both;
    width: 100%;
    height: 0px;
  }
  aside {
    padding: 10px;
    margin: 15px 0;
    background-color: #f6f6f6;
    border-radius: 5px;
  }

  header {
    width: 100%;
    margin-bottom: 20px;
    h1 {
      font-size: 150%;
      margin: 0 0 6px;
      font-family: 'HammersmithOneRegular', sans serif;
      text-transform: uppercase;

      a, a:hover, a:visited, a:active {
        color: #000;
        text-decoration: none;
      }
    }

    .phone {
      float: right;
      margin-right: 18px;
    }
    .meta {
      color: #3d3d5c;
      p {
        margin: 7px 0;
      }
    }
  }

  .tabs {
    margin: 10px 0;
    ul {
      text-align: right;
      margin-right: 10px;
      padding: 5px;
      margin: -20px 0;
      li {
        display: inline-block;
        padding: 10px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #B2D1F0;

        &.active {
          background-color: #3d3d5c;
          a {
            color: white;
          }
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #43474A;
          font-family: 'RobotoBoldCondensed', sans serif;

        }
      }
    }
  }

  .tab-content {
    display: none;
    &.open {
      display: block;
    }
  }

  .course {
    clear: left;
    &:nth-child(2n+1) {
      background-color: #F5F5FD;
      border-radius: 4px;
    }
    h3 {
      border-bottom: 3px solid white;
      text-transform: uppercase;
      font-family: 'RobotoBoldCondensed', sans serif;
      line-height: 29px;
      margin-left: 5px;
    }
    p {
      color: #3a3a3a;
    }
  }

  .choices li {
    width: 31%;
    float: left;
    margin: 0 5px 10px 0;
    text-align: left;
    &:nth-child(3n+1) {
      clear: both;
    }
    h4 {
      margin: 0 2px;
      color: #520029;

    }
    p {
      margin: 0 5px;
    }
  }
}

$footer-height: 85px;

#container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  #map_canvas {
    height: 100%;
    width: 100%;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  z-index: 2;
  background: rgba(50, 50, 50, .5);
  max-height: 85px;

  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px 0;
    text-transform: uppercase;
    &:hover {
      color: #FFCC66;
    }
  }

  p {
    color: white;
    font-size: 75%;
    font-family: 'HammersmithOneRegular', sans serif;
  }

  .magazine {
    margin: 25px 0 0 20px;
    float: left;
    font-size: 14px;
    width: 190px;
  }

  .brought_to_you {
    float: right;
    text-align: right;
    padding-right: 20px;

    p {
      margin: 0 78px 0 0;
      line-height: 28px;
      text-transform: uppercase;
    }

    .sponsors {
      margin-right: 10px;
    }

    .see_also {
      margin-top: -12px;
    }

    > div {
      float: left;
    }
  }
}

#mobile_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #FFF;

  a.close {
    color: #3d3d5c;
    text-align: center;
    display: block;
    &:active {
      background-color: #3d3d5c;
      color: #FFF;
    }
  }
}

@media screen and (max-width: 320px) {
  .info {
    ul.choices li {
      width: 100%;
    }
  }
}

@media screen and (max-width: 568px) {
  .tabs {
    font-size: 10px;
    ul {
      li{
        padding: 1px;
        width: 35px;
        text-align: left;
      }
    }
  }


  #footer {
    height: 50px;
    img {
      display: none;
    }

    .magazine, .brought_to_you {
      padding: 4px 5px;
      margin: 0;
      width: 150px;
      &, p { line-height: 14px; }
    }

    .magazine {
      &, a { font-size: 13px; }
      a {
        display: block;
        margin: 0;
      }
    }

    .brought_to_you {
      > div {
        float: right;
      }

      p {
        margin-right: 0;
        font-size: 13px;
        text-transform: none;
      }

      .sponsors, .see_also {
        margin: 0;
        a {
          font-size: 13px;
        }
      }
    }

    .see_also a.madeofmadison:before {
      font-family: 'HammersmithOneRegular', sans serif;
      content: "Made of Madison";
    }
    .sponsors a.bendyworks:before {
      font-family: 'HammersmithOneRegular', sans serif;
      content: "Bendyworks";
    }
  }
}
