

@font-face {
    font-family: 'HammersmithOneRegular';
    src: url('assets/HammersmithOne-webfont.eot');
    src: url('assets/HammersmithOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/HammersmithOne-webfont.woff') format('woff'),
         url('assets/HammersmithOne-webfont.ttf') format('truetype'),
         url('assets/HammersmithOne-webfont.svg#HammersmithOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoRegular';
    src: url('assets/Roboto-Regular-webfont.eot');
    src: url('assets/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/Roboto-Regular-webfont.woff') format('woff'),
         url('assets/Roboto-Regular-webfont.ttf') format('truetype'),
         url('assets/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('assets/Roboto-BoldCondensed-webfont.eot');
    src: url('assets/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('assets/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('assets/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
