!!!
%html
  %head
    %title Restaurant Week
    %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
    %link{rel: 'stylesheet', href: 'site.css'}

    %script{type: 'text/javascript', src: 'http://maps.googleapis.com/maps/api/js?sensor=false'}
    %script{type: 'text/javascript', src: 'site.js'}
  %body

    %script#iconTemplate{type: 'text/doT'}
      .info
        %header
          .phone {{=it.data.phone}}
          %h1
            %a{href: 'http://www.madisonmagazine.com/Madison-Magazine/Events/Restaurant-Week/Participants/{{=it.basename}}'}
              {{=it.data.name}}
          .meta
            %address {{=it.data.address}}
            %p {{=it.data.hours}}

        .tabs
          %ul
            {{~ it.data.meals :m:i }}
            %li.active
              %a.tab{href: '#meal{{=it.basename}}{{=i}}'}
                {{=m.type}}: ${{=m.price}}</a></li>
            {{~}}

        .meals
          {{~ it.data.meals :m:i }}
          .tab-content{id: 'meal{{=it.basename}}{{=i}}'}
            {{? m.other}}
            %aside {{=m.other}}
            {{?}}

            {{~ m.courses :c }}
            .course
              %h3 {{=c.name}}
              %ul.choices
                {{~ c.choices :p }}
                .choice
                  %li
                    %h4 {{=p.name}}

                    {{?p.desc}}
                    %p {{=p.desc}}
                    {{?}}

                    {{?p.other}}
                    %aside {{=p.other}}
                    {{?}}
                {{~}}
              .clearfix
            {{~}}
          {{~}}

    #container
      #map_canvas
    #footer
      .sponsors
        %p
          Brought to you By:

        %a{href: 'http://www.madeofmadison.com'}
          %img{src: 'assets/madeofmadison.png'}
        %a{href: 'http://www.bendyworks.com'}
          %img{src: 'assets/bendyworks.png'}

    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50f09f5a613f5d3187000019');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
