!!!
%html
  %head
    %title Restaurant Week
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/style.css'}
  %body
    %h1 o hai!
    %script{src: 'js/application.js', type: 'text/javascript'}
